
.btn{
	margin: 2px;
}

.btn .dropdown-toggle{
	margin-left: 0px !important;
}

.btn-group .btn{
	margin-right: 0px !important;
}

#theme-selector-dropdown{
	display: block;
	padding: 4px;
	color: black;
}

#theme-select-dropdown{
	z-index: 50;
	padding: 6px;
	animation: pulse 1.33s infinite;
	text-shadow: 0 1px 3px black;
}

.nav-link .dropdown-toggle .show{
   padding-left: 50px;
}

#theme-selector-dropdown ul{
	display: block;
	padding: 4px;
}

#banner{
	padding-top: 60px !important;
}

#default{
	display: block;
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: .5em;
	font-weight: 600;
}

.not-bold{
	font-weight: normal;
	font-size: .85em;
}

.select-theme, .card, h1, h2,
h3, h4, h5, h6 {
	margin-top: 1.2rem !important;

}

.card .text-white .bg-info .mb-3{
	width: 500px !important;
}

#cdn-description{
	display: block;
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

#page-description{
	max-width: 57rem;
}

#footer-credits a{
 color: rgba(0, 0, 0, 0.54);
}

.footerColToRow{
	margin-top: 12px;
}


/* pulse animation -------------------------- */
@keyframes pulse {
	0% {
		transform: scale(0.999);
		box-shadow: 0 0 0 0 rgba(104, 136, 132, 0.2);
	}

	70% {
		transform: scale(0.997);
		box-shadow: 0 0 0 10px rgba(51, 217, 178, 0.009);
	}

	100% {
		transform: scale(0.999);
		box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
	}
}

/* Fade-in animation --------------------- */
.fade-in {
	animation: fadeIn linear 250ms;
	-webkit-animation: fadeIn linear 250ms;
	-moz-animation: fadeIn linear 250ms;
	-o-animation: fadeIn linear 250ms;
	-ms-animation: fadeIn linear 250ms;
  }

  @keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }

  /* Media query for mobile viewport ------------------------------------------- */
  @media (max-width: 600px) {
	.navbar .container {
		justify-content: space-between;	
	}

		#page-description{
			max-width: 100% !important;
		}

		.navbar-toggler {
			margin-right: 50px;
		}
		
}

@media (min-width: 600px) {
	#footer-credits{
		max-width: 60rem;
	   }
	.footerColToRow
	{
		align-items: center;
	}
}

  /* ---------------------------------------------------------------------------- */

